<template>
<div>
    <h1>Loaded from VueJS 2</h1>
    <p>Index page</p>
</div>
</template>

<script>
import Vue from 'vue';

export default ({
    name: 'Index',
    data() {
        return {
            message: 'Hello World',
        };
    },
    methods: {
        // ...
    },
    mounted() {
    },
});

</script>